<ion-header>
    <ion-toolbar color="primary">
        <ion-title>
            <h2>Terminos Y Condiciones</h2>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>

<div>
         
<ion-card>

 <p>El acuerdo de términos y condiciones de un software o de un negocio digital, es un contrato firmado entre el usuario de un software o de un servicio prestado a través de un software y el titular del software o empresario.

Estos acuerdos contienen todos los elementos legales relacionados con el uso del software, los derechos sobre contenidos y en general toda la relación entre empresa y usuario. Verán que muy pocos usuarios realmente leen estos acuerdos, sin embargo los empresarios sí los tienen muy claros y de hecho muchas veces aprovechan la ignorancia del usuario para incluir cláusulas de transferencia de derechos de contenidos, o autorizaciones de uso de datos personales, por ejemplo.

En Apps.co, creemos que es importante tener unos acuerdos sólidos delimitando claramente las obligaciones y los compromisos de las partes, pero en especial del empresario. Recomendamos tener una política de relación usuario-empresa donde su cliente o usuario final pueda expresar inconformidades, preguntas y realizar solicitudes.
</p>

</ion-card>


<ion-button expand="block" (click)="AceptarTerminos()">
                            <ion-icon name="ter-in" slot="end"></ion-icon>
                            Aceptar Terminos y Condiciones
</ion-button><br><br>
</div>
</ion-content>
